.admin-serminar-training-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
}


.popup-modal {
    display: inline-flex;
    flex-direction: row;
    row-gap: 10px;
    position: fixed;
    background-color: #FFFFFF;
    padding: 50px;
    width: 700px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    display: none;
    overflow-y: scroll;
    z-index: 100;
}

.modal-overlay, .modal1-overlay  {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 99; /* Ensure a higher z-index than the navbar */
}

.popup-modal::-webkit-scrollbar{
    display: none;
}

#id_value {
    display: none;
}



/* .popup-modal1 {
    display: flex;
    position: fixed;
    background-color: #FFFFFF;
    padding: 50px;
    width: 700px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    display: none;
    z-index: 100;
} */


#line-divider {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
}

.description {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 5px;
    margin-bottom: 5px;
}

.participants table {
    margin-top: 5px;
    margin-bottom: 5px;
}

.participants table td{
    border: 1px solid black;
    text-align: left;
}

.location, .start-date, .end-date, .title {
    font-size: 15px;
    font-weight: 400;
    
}

#title-input {
    width: 300px;
    margin-right: 15px;
}

#location-input {
    width: 440px;
}

.top-menu {
    display: inline-flex;
    padding: 10px;
    width: 95%;
}

.bottom-menu {
    padding-left: 65%;
}

.bottom-menu1 {
    padding-left: 80%;
}

#export, #edit, #close {
    margin: 2%;
    padding: 2.5%;
}

#edit {
    padding-left: 7%;
    padding-right: 7%;
}

#apply {
    margin: 2%;
    padding: 2.5%;
}

#search-seminar-training {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 40%;
    width: 30%;
}

#add {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 250px;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    touch-action: manipulation;
    transition: #0A66C2 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#add,
#add:focus { 
  background-color: #0A66C2;
  color: #ffffff;
}

#add:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

#add:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

#delete {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: 500;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    touch-action: manipulation;
    transition: #0A66C2 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}


#delete,
#delete:focus { 
  background-color: #0A66C2;
  color: #ffffff;
}

#delete:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

#delete:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.display-semiar-training {
    margin: 1%;
    height: 80%;
    width: 95%;
    padding: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    border-bottom: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}


.add-form, .popup-modal1 {
    display: flex;
    position: fixed;
    background-color: #FFFFFF;
    width: 750px;
    height: 500px;
    border: 2px solid black;
    border-radius: 20px;
    flex-direction: column;
    display: none;
    z-index: 100;
    padding: 50px;
    overflow-y: scroll;
}

.add-form::-webkit-scrollbar{
    display: none;
}

.popup-modal1::-webkit-scrollbar{
    display: none;
}

.add-form label, .popup-modal1 label{
    display: block;
    font-weight: 500;
}

#description-input {
    margin-left: 2%;
    width: 95%;
    height: 100px;
}
#add-buttons {
    margin-left: 80%;
}

textarea {
    resize: none;
}

.assesstment {
    display: inline-block;
}

.dates {
    display: inline-flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;

}

.time {
    display: inline-flex;
    flex-direction: row;
    column-gap: 6px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;   
}

.time input{
    width: 180px;
}

.edit, .delete, .view {
    background-color: #FFFFFF;
    border: none;
    margin-left:5px;
}


.edit img, .delete img, .view img{
    vertical-align: center;
    width: 25px;
    height: 25px;
}




