body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.dashboard_container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 10px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
}

.scholarship-form-container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2 {
    color: #333333;
}

h2 {
    color: #007BFF;
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: vertical;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
}

input[type="tel"] {
    width: 48%;
}

section {
    margin-bottom: 15px;
}