.seminartraining-container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 10px;
    flex-grow: 1;
    background: #FFFFFF;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.seminartraining-banner {
    width: 100%;
    height: 300px;
    align-content: center;
    border-radius: 8px;
    background-color: aqua;
}

.seminartraining-main {
    background-color: #FFFFFF;
    width: 100%;
    height: 65%;
}

#seminartraining_img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 300px;
}

.seminartraining-main {
    display: flex;
    padding: 1%;
    column-gap: 1%;
    height: 305px;
}

#buttons {
    margin-left: 100px;
    font-size: 12px;
}

.assessment {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    padding: 1%;
    column-gap: 2%;
    border: 2px solid black;
}

.pre-training {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pre-training button {
    margin-top: 40%;
    font-size: 20px;
}

.post-training {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.post-training button {
    margin-top: 40%;
    font-size: 20px;
}

.details-container {
    width: 50%;
    height: 100%;
}


.details {
    background-color: rgb(255, 255, 255);
    padding: 2.5%;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
    overflow-y: scroll;
}

.details::-webkit-scrollbar{
    display: none;
}

.details h1 {
    font-size: 25px;
    font-weight: 500;
}

.details p {
    text-align: justify;
    text-justify: inter-word;
}

.details ul {
    list-style-type: disc;
    margin-left: 3%;
    font-size: 20px;
}

.seminar_view {
    display: none;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.banner_h1 {
    position: absolute;
    top: 150px; /* Adjust the vertical position as needed */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both vertically and horizontally */
    color: #ffffff;
    font-size: 50px;
    background-color: rgb(45, 52, 154, 0.5);
    width: 100%;
    text-align: center;
    padding: 10px;
}

#close{
    position: absolute;
    color: #FFFFFF;
    font-weight: 500;
    padding: 5px;
}

.seminar_view::-webkit-scrollbar{
    display: none;
}

.admin-serminar-training-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 10px;
    background: #ffffff;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.display-semiar-training {
    margin: 1%;
    height: 80%;
    width: 95%;
    padding: 1%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    border-bottom: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.top-menu {
    display: inline;
    align-self: self-start;
    margin-left: 45px;
}
